<div class="card text-white bg-dark mb-3 mt-3" style="font-size: 17px">
  <div class="card-header">
    <%= link_to image_tag(post.user.avatar, class:"ui-w-100-forced rounded-circle", style:"width: 50px; height: 50px"), post.user == current_user ? user_profile_path : profile_path(post.user.name) %>
    &nbsp; &nbsp;
    <%= link_to post.user.name, post.user == current_user ? user_profile_path : profile_path(post.user.name)  , id:"teste" %>
   
  <% if post.user == current_user %>
    <%= link_to user_post_path(post), method: :delete, class: "close text-white", data: {confirm: "Confirmar exclusão?"} do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  <% end %>
  </div>

    <div class="card-body">
     <p class="card-text"><%= post.body %> <br>
      <small class="text-muted"> <%= l post.created_at, format: :short %></small></p>
      
    <%= link_to nil, {class:"like-toggle", id: post.id, remote: true} do %>
      <i style="font-size:18px;color:<%= post.liked_by_user?(current_user) ? "#80c0ff" : "#ffffff" %>" class="fa fa-thumbs-up"></i>
    <% end %>

    <span class="ml-2"><%= post.likes.count %></span>

    <%= link_to nil, remote: true,  class:"comments-toggle", data: {target: "post_#{post.id}_comments"} do %>
      <i style="font-size:18px;color:#FFFFFF" class="fa fa-comment"></i>
    <% end %>

    <span class="ml-2" id="post_<%= post.id %>_comments_count"><%= post.comments.count %></span>

  </div>
</div>

<div class="comments-list" style="display:none" >
  <%= form_with model: [:user, @comment], data:{remote: true} do |f|%>
      <%= f.hidden_field(:post_id, value: post.id) %>
        <div class="form-group">
          <%= f.text_area :body, rows: 2, placeholder: "Escreva seu comentário...", class:"form-control", required: true%>
        </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-sm btn-primary ml-auto">Enviar</button>
      </div>
  <% end %>

  <% post.comments.order(created_at: :desc).each do |comment|%>
    <div id="post_<%= post.id %>_comments">
      <%= render('comment_card', comment: comment) %>
    </div>
  <% end %>
</div>

<hr class="bg-secondary">
