<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="background-color:#000080!important;">
  <div class="container" >
    <%= image_tag("logo.png", alt: "logo", class: 'navbar-brand', style: "height:40px;")%>
    <ul class="navbar-nav">
      <li class="nav-item <%= current_page?(root_path)? "active" : "" %>">
      <%= link_to "Timeline", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item <%= current_page?(admin_users_path)? "active" : "" %>">
      <%= link_to "Followers", admin_users_url, class:"nav-link" %>
      </li>
      <li class="nav-item <%= current_page?(admin_users_path)? "active" : "" %>">
      <%= link_to "Following", admin_users_url, class:"nav-link" %>
      </li>
      <li class="nav-item <%= current_page?(admin_users_path)? "active" : "" %>">
      <%= link_to "Quem eu posso seguir", admin_users_url, class:"nav-link" %>
      </li>
      <li class="nav-item <%= current_page?(user_profile_path)? "active" : "" %>">
      <%= link_to "Meu Perfil", user_profile_path, class:"nav-link" %>
      </li>
    </ul>

    <div class="nav-item d-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="py-2 mr-4" style="color:#fff;"><%= current_user.name %></div>
        </li>
        <li class="nav-item">
          <%= link_to("Sair",destroy_user_session_path,class: "nav-link", method: :delete) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
