 <h4>Usuarios Cadastrados</h4>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Foto</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Seguindo</th>
      <th scope="col">Seguidores</th>      
      
    </tr>
  </thead>
  <tbody>
     <% @users.each do |user| %>
      <tr> 
        <th scope="row"><%= user.id %></th>
        <td><%= image_tag(user.avatar, class:"ui-w-100-forced rounded-circle", style:"width: 30px; height: 30px") %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td> &nbsp;  &nbsp;  &nbsp;  &nbsp; <%= user.following.count %></td>
        <td> &nbsp;  &nbsp;  &nbsp;  &nbsp; <%= user.followers.count %></td>
        <td><%= link_to("Editar", edit_user_registration_path(user), class: "btn btn-warning btn-sm") %></td>
        <td><%= link_to("Deletar", admin_users_path(user), method: :delete, data: {confirm: "Deseja excluir o usuario?"},class: "btn btn-danger btn-sm") %></td>
      </tr>
    <% end %>
  </table>
    <%= link_to("Novo Usuario", new_user_registration_path, class: "btn btn-info mb-4") %>  

  </tbody>
